@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


body{
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

/* ////////////////// HEADER  ///////////////////////*/

header{
    width: 99%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 3px solid #000;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 10px;
}

.header-end{
    display: flex;
    align-items: center;
}

.header-end button{
    margin-right: 20px;
}

button{
    width: 150px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

div .fa{
    font-size: 30px;
    color: #000;
}

.logo{
    width: 12%;
}

/* ////////////////// MAIN  ///////////////////////*/

main{
    padding-top: 90px;
}

.container{
    padding: 10px;
}

#row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    text-align: center;
    width: 25%;
    padding: 20px;
    font-family: 'Carter One', cursive;
    font-size: 20px;
    cursor: pointer;
} 

.card img{
    border:5px solid #000;
    border-radius: 30px;
}

.card img:hover{
    box-shadow:6px 5px 15px #000;
}

/* ////////////////// BASKET  ///////////////////////*/

#list{
    display: block;
}

#list .card{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#list .card img{
    width: 10%;
}

#list button{
    width: 50px;
    height: 50px;
}

#price{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Carter One', cursive;
    border-top: 3px solid #000;
    padding: 30px 0;
}


@media screen and (max-width:1030px){
    .card{
        font-size: 15px;
    }
}

@media screen and (max-width:780px){
    .card{
        width: 35%;
        font-size: 20px;
    }
}

@media screen and (max-width:550px){
    .card{
        width: 50%;
    }
    #list .card{
        width: 75%;
    }
    #list .card img {
        width: 20%;
    }
}

@media screen and (max-width:440px){
    #list .card{
        font-size: 14px;
    }
    #list button {
        width: 35px;
        height: 35px;
    }
    #price{
        font-size: 25px;
    }
}